* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-container h1 {
  font-weight: 700;
  font-size: 30px;
  color: rgba(166, 0, 0, 0.861);
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}
.qr-code-image{
  
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input-label {
  display: block;
  margin-bottom: 8px;
  color: rgba(166, 0, 0, 0.861);
  font-size: 15px;
  font-weight: 500;
}
input[type="text"] {
  margin-top: 2px;
  padding: 12px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  border: 2px solid rgba(166, 0, 0, 0.861);
  border-radius: 5px;
}

button {
  padding: 15px;
  font-size: 18px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.generate-button {
  background-color: rgba(166, 0, 0, 0.861);
}
.generate-button:hover {
  background-color: rgba(145, 2, 2, 0.861);
}
.generate-button:disabled {
  background-color: aliceblue;
  cursor: not-allowed;
}
.download-button {
  background-color: rgb(16, 109, 78);
  margin-left: 10px;
}
.download-button:hover {
  background-color: rgb(14, 97, 70);
}
.footer {
  margin-top: 10px;
  text-decoration: none;
  color: rgba(166, 0, 0, 0.861);
}
